html, body {
  min-height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: monospace;
  background-color: #000;
  min-height: 100%;
  margin:0;
  align-self: stretch;
}

#debugBanner {
  background: red;
  height: 50px;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}

#errorBanner {
  background: red;
  height: 20px;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  color: white;
}

#panes {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 160px;
  margin: 10px;
  padding-left: 15px;
}

#container {
  height: 100%;
}

.CodeMirror-linenumbers {
  background: black;
}

#stackDisplay {
  color: white;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

#screenPane {
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  border: 2px solid white;
}

canvas:focus {
  outline: none;
}

#editorPane {
  border: 2px solid white;
}

#topButtons {
  padding: 5px;
  border-bottom: 1px solid white;
}

#buttons {
  border-top: 1px solid white;
  padding-top: 5px;
}

#editorPane #buttons,#topButtons {
  margin-top: 5px;
  padding-left: 5px;
  background: #000;
  color: #fff;
  padding-bottom: 10px;
}

#screenPane #levelButtons {
  margin-top: 5px;
  padding: 7px;
  background: #000;
  color: #fff;
}

.keys {
  border: 2px solid white;
  cursor: pointer;
  padding: 3px;
  font-size: 14px;
}

#topButtons .keys {
  font-size: 13px;
}

#editorPane #buttons a:hover, .highlight {
  background: #fff;
  color: #000;
}

#editorPane #topButtons a:hover, .highlight {
  background: #fff;
  color: #000;
}

#screenPane #levelButtons a:hover {
  background: #fff;
  color: #000;
}

#hardModeIndicator {
  font-size: 20px;
};

#referencePane {
  width: 100px;
}

#referencePane > * {
  color: white;
}

#commands {
  height: 600px;
  overflow-y: overlay;
  padding-right: 10px;
  margin-top: 0px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: #b2b2b2;
}

ul, li {
  color: white;
  padding-left: 0px;
}

.func-def {
  display: flex;
  width: 580px;
}

.func-desc {
  padding: 2px;
  padding-top: 3px;
  padding-left: 6px;
}

.func-name {
  border-right: 1px solid white;
  flex: 0 0 50px;
  padding-right: 6px;
  text-align: right;
  padding-top: 3px;
}

#command-categories {
  list-style-type: none;
}

.category {
  border: 1px solid white;
  padding: 2px;
  padding-left: 0px;
  padding-right: 4px;
  margin-bottom: 4px;
  margin-top: 8px;
  margin-right: 10px;
}

.category-title {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 6px;
}

.func-list > :first-child > * {
  padding-top:5px;
}

.CodeMirror {
  font-family: monospace;
  font-size: 13px;
  font-weight: bold;
}
