html, body {
  min-height: 100%;
  max-width: 100%;
  margin: 0;
  color: white;
  font-family: monospace;
}

body {
  background-color: #000;
  min-height: 100%;
  margin:0;
}

#debugBanner {
  background: red;
  height: 3.125rem;
  font-size: 1.875rem;
  text-align: center;
  padding-top: 0.625rem;
}

#errorBanner {
  background: red;
  height: 1.25rem;
  font-size: 0.9375rem;
  text-align: center;
  padding-top: 0.3125rem;
  color: white;
}

#panes {
  display: flex;
/*  flex-wrap: wrap;*/
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 6.25rem;
  margin: 0.625rem;
 /* padding-left: 0.9375rem;*/
}

#container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

}

.CodeMirror-linenumbers {
  background: black;
}

#stackDisplay,#executionSteps {
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
  display: table-cell;
}

#stackDisplay {
  width: 21.875rem;
}

#executionSteps {
  width: 12.5rem;
}

#screen canvas {
  margin-bottom: 0.625rem;
}

#screenPane {
  margin: 0.625rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  padding-bottom: 0.625rem;
  border: 0.125rem solid white;
  flex-grow: 1;
  flex-shrink: 1;
}

canvas:focus {
  outline: none;
}

#levelIndicator {
  padding: 0.3125rem;
}

#editorPane {
  border: 0.125rem solid white;
  flex-grow: 1;
  flex-shrink: 1;
}

#topButtons {
  padding: 0.3125rem;
  border-bottom: 0.0625rem solid white;
}

#buttons {
  border-top: 0.0625rem solid white;
  padding-top: 0.625rem;
}

#editorPane #buttons,#topButtons {
  margin-top: 0.3125rem;
  padding-left: 0.3125rem;
  background: #000;
  color: #fff;
  padding-bottom: 0.625rem;
}

#screenPane #levelButtons {
  margin-top: 0.3125rem;
  padding: 0.4375rem;
  background: #000;
  color: #fff;
}

#belowScreen {
  display: table;
  padding: 0.125rem;
  table-layout: fixed;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

#header {
  width: 100%;
  display: table;
  table-layout: fixed;
}

#headerContainer {
  display: table-cell;
  text-align: center;
  margin-bottom: 0.625rem;
  padding-bottom: 0.625rem;
  font-size: 2.5rem;
  border-bottom: 0.0625rem solid white;
}

#headerContainer, #author {
  font-family: monospace;
  letter-spacing: 0.3125rem;
}

#headerTitle {
  border-top: 0.0625rem solid white;
  padding-top: 0.625rem;
}

#headerRight {
  float: right;
}

#githubButton {
  font-size: 3.125rem;
}

#author {
  font-size: 0.9375rem;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.keys {
  border: 0.125rem solid white;
  cursor: pointer;
  padding: 0.1875rem;
  font-size: 0.875rem;
}

#topButtons .keys {
  font-size: 0.8125rem;
}

#editorPane #buttons a:hover, .highlight {
  background: #fff;
  color: #000;
}

#editorPane #topButtons a:hover, .highlight {
  background: #fff;
  color: #000;
}

#screenPane #levelButtons a:hover {
  background: #fff;
  color: #000;
}

#hardModeIndicator {
  font-size: 1.25rem;
}

#startButtonDiv {
  padding-left: 0.0rem;
  padding-top: 0.3125rem;
}

#startButton {
  text-align: center;
  font-size: 1.25rem;
  border: none;
  padding: 0.625rem;
  margin: 0.625rem;
  margin-left: 0.0rem
}

#startButton:hover {
  background: #fff;
  color: #000;
}

#referencePane {
  flex-shrink: 1;
/*  flex-grow: 1;*/
  border: 0.0625rem solid white;
  padding-left: 0.625rem;
}

#commands {
  height: 37.5rem;
  width: 36.625rem;
  overflow-y: auto;
  overflow-y: overlay;
  padding-right: 0.625rem;
  margin-top: 0.0rem;
  scrollbar-color: white black;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: black;
}

::-moz-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-moz-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: #b2b2b2;
}

::-moz-scrollbar-thumb:hover {
  background: #b2b2b2;
}

ul, li {
  color: white;
  padding-left: 0.0rem;
}

::selection {
  background: white;
  color: black;
}

.func-def {
  display: flex;
  width: 36.25rem;
}

.func-desc {
  padding: 0.125rem;
  padding-top: 0.1875rem;
  padding-left: 0.375rem;
}

.func-name {
  border-right: 0.0625rem solid white;
  flex: 0 0 3.125rem;
  padding-right: 0.375rem;
  text-align: right;
  padding-top: 0.1875rem;
  font-weight: bold;
}

#command-categories {
  list-style-type: none;
}

.category {
  border: 0.0625rem solid white;
  padding: 0.125rem;
  padding-left: 0.0rem;
  padding-right: 0.25rem;
  margin-bottom: 0.25rem;
  margin-top: 0.5rem;
  margin-right: 0.625rem;
}

.category-title {
  border-bottom: 0.0625rem solid white;
  padding-bottom: 0.3125rem;
  padding-top: 0.3125rem;
  padding-left: 0.375rem;
}

.func-list > :first-child > * {
  padding-top:0.3125rem;
}

.func-list > :last-child > * {
  padding-bottom:0.3125rem;
}

.CodeMirror {
  font-family: monospace;
  font-size: 0.8125rem;
  font-weight: bold;
}

#clearCacheButton:hover {
  color: red;
  background: black;
  border-color: black;
}
